@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script type="text/javascript">
        var grid;
        $(function () {
            getlist();
        })
        function getlist() {
            helper.getFunction(createGrid);
        }
        function createGrid(toolbaritems) {
            grid = $("#list").ligerGrid({
                columns: [
                    { display: "编号", name: "wfPID" },
                    { display: "申请单名称", name: "wfRFTitle" },
                    { display: "请假额度", name: "wfRFNum" },
                    { display: "审批节点", name: "wfNodeTitle" },
                    {
                        display: "优先级", name: "wfRFPriority", render: function (d, i, val) {
                            if (val == "39") //高
                            {
                                return "<font color='red'>高</font>";
                            }
                            else if (val == "38") //中
                            {
                                return "<font color='orange'>中</font>";
                            }
                            else {
                                return "<font color='green'>低</font>";
                            }
                        }
                    },
                    {
                        display: "状态", name: "KName", render: function (data, index, value) {
                            if (data.wfRFStatus == 41)//驳回上级
                            {
                                return "<font color='orange'>" + value + "</font>";
                            }
                            else if (data.wfRFStatus == 42)//拒绝
                            {
                                return "<font color='red'>" + value + "</font>";
                            }
                            else if (data.wfRFStatus == 43)//通过
                            {
                                return "<font color='green'>" + value + "</font>";
                            }
                            else
                            {
                                return "<font color='blue'>" + value + "</font>";
                            }
                        }
                    }],
                url: "/workflow/wfprocess/getlist",
                toolbar: { items: toolbaritems },
                parms: { name: "kname", value: $("#kname").val() }

            })
        }

        function checkform() {
            var row = grid.getSelectedRow();
            if (!row) {
                //提示用户必须选择一行
                $.ligerDialog.warn("必须选择申请单所在的行", "警告提醒");
                return; //阻断下面代码的运行
            }
            var wfPID = row.wfPID;
            helper.openPanel("/workflow/wfprocess/checkform/" + wfPID, "审核页面", 780, 720);

        }
    </script>
</head>
<body>
    <div id="content">
        <div id="content-header">
            <div id="breadcrumb">
            </div>
        </div>
        <div style="height: 100%;">
            <div id="content-body" class="row-fluid">
                <div class="span22">
                    <!--查询条件 -->
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon"><i class="icon-search"></i></span>
                            <h5>查询条件</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <form class="form-horizontal search-form" method="post" name="basic_validate" novalidate="novalidate">
                                <div class="control-group">
                                    <div class="search-group">
                                        <label class="search-label">名称</label>
                                        <div class="span2 search-input">
                                            <input id="kname" name="kname" type="text" value="">
                                        </div>
                                        <button type="button" class="btn btn-success" onclick="getlist()" style="float: right; margin: 5px 10px 0 0;">
                                            <span class="icon-search"></span>搜索
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!--列表-->
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon"><i class="icon-th"></i></span>
                            <h5>我的审核单列表</h5>
                        </div>
                        <div id="list" class="widget-content nopadding">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
