@model itcast.crm19.model.sysFunction

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.DisplayNameFor(c => c.fName):
        @Model.fName

        <br />
        @ViewBag.model1 
    </div>
</body>
</html>
