@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script type="text/javascript">

        var grid;
        $(function () {
            getlist();
        })

        function getlist() {
            helper.getFunction(createGrid);
        }
        function createGrid(toolbaritems) {
            grid = $("#list").ligerGrid({
                columns: [
                    { display: "房间编号", name: "roomID" },
                    { display: "房间名称", name: "roomName" },
                    { display: "房间类型", name: "typeName" },
                    { display: "房间状态", name: "KName" },
                    { display: "创建者", name: "roomCreator" },
                    { display: "创建时间", name: "CreateTime" }

                ],
                url: "/room/roominfo/getlist",
                parms: [{ name: "kname", value: $("#kname").val() }],
                toolbar: { items: toolbaritems }
            });
        }

        function add() {
            helper.openPanel("/room/roominfo/add", "添加房间");

        }
        function edit() {
            var row = grid.getSelectedRow();
            if (!row) {
                //提示用户必须选择一行
                $.ligerDialog.warn("必须选择要修改的房间的行", "警告提醒");
                return; //阻断下面代码的运行
            }
            var roomID = row.roomID;
            helper.openPanel("/room/roominfo/edit/" + roomID, "编辑房间");
        }
        function del() {
            $.ligerDialog.confirm("是否删除?", "提示", function (yes) {
                if (yes) {
                    var row = grid.getSelectedRow();
                    if (!row) {
                        //提示用户必须选择一行
                        $.ligerDialog.warn("必须选择要删除的行", "警告提醒");
                        return; //阻断下面代码的运行
                    }
                    var roomID = row.roomID;
                    var url = "/room/roominfo/del/" + roomID;
                    $.post(url, null, function (ajaxobj) {
                        helper.returnStatus(ajaxobj, getlist)
                    }, "json");
                }
            })

        }
        function setNodes() {
            var row = grid.getSelectedRow();
            if (!row) {
                //提示用户必须选择一行
                $.ligerDialog.warn("必须选择要设的房间的行", "警告提醒");
                return; //阻断下面代码的运行
            }
            var roomID = row.roomID;
            helper.openPanel("/room/roominfo/setNodes/" + roomID, "设置房间");
        }
    </script>




</head>
<body>
    <div id="content">
        <div id="content-header">
        </div>
        <div style="height: 100%;">
            <div id="content-body" class="row-fluid">
                <div class="span22">
                    <!--查询条件 -->
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon"><i class="icon-search"></i></span>
                            <h5>查询条件</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <form class="form-horizontal search-form" method="post" name="basic_validate" novalidate="novalidate">
                                <div class="control-group">
                                    <div class="search-group">
                                        <label class="search-label">名称</label>
                                        <div class="span2 search-input">
                                            <input id="kname" name="kname" type="text" />
                                        </div>
                                        <button type="button" class="btn btn-success" onclick="getlist()" style="float: right; margin: 5px 10px 0 0;">
                                            <span class="icon-search"></span>搜索
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!--房间列表-->
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon"><i class="icon-th"></i></span>
                            <h5>房间列表</h5>
                        </div>
                        <div id="list" class="widget-content nopadding">
                            用于显示ligergrid加载出来的数据
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
